.container {
  color: black;
  font-size: 2rem;
  align-content: center;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  justify-self: center;
  padding: 7px;
}
